.banner {
  position: relative;
  text-align: center;
}

#banner-image {
  width: 100%;
}

.like-section {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#like-count {
  margin-right: 5px;
}
